*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mona-Sans';
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #F8F7F4;
}

#page1{
    min-height: 100vh;
    width: 100%;
    background-color: #F8F7F4;
    
}
#nav{
    height: 100px;
    width: 100%;
    /* background-color: royalblue; */
    display: flex;
    align-items: center;
    justify-content: space-between;   
    padding: 0 40px;
}
#nav-part1{
    margin-top: 1px;
    width: 28%;
    /* background-color: yellow; */
    margin-left: -10px;
    display: flex;
    justify-content: space-around;  
}

#nav-part1 h4{
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    /* background-color: red; */
}
#nav-part1 h4:hover{
    color: #565564;
}
#nav-part1 .arrow::after{
    content: '';
    background-image: url(./arrow-drop-down-line.png);
    background-size: cover;
    height: 20px;
    width: 22px;
    position: absolute;
    top: 40px;
    left: 10%;
}

#nav img{
    height: 55px;
    margin-bottom: 13px;
    margin-left: 20px;
    /* background-color: red; */

}
#nav img:hover{
    cursor: pointer;
}

#nav-part2{
    width: 30%;
    /* background-color: green; */
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

#nav-part2 button{
    padding: 15px 20px;
    border-radius: 50px;
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
}
#nav-part2 button.log{
    background-color: #F8F7F4;;
    color: black;
    border: none;
}
#nav-part2 button:hover{
    background-color: #565564;
}
#nav-part2 button.log:hover{
    background-color: #F8F7F4;
    color: #565564;
}


#page1 #content{
    height: calc(100% - 100px);
    width: 100%;
    /* background-color: crimson; */
    padding-top: 70px;
}

#content .heading1{
    background-color: #F0B1EB;
    width: fit-content;
    padding: 10px 14px;
    border-radius: 50px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
    font-size: 17px;
}
#content h1{
    font-size: 75px;
    text-align: center;
    font-weight: 400;
    margin-top: 3%;
    line-height: 75px;
    font-family: "Source Serif 4";
}
#content h3{
    text-align: center;
    margin-top: 2%;
    font-weight: 400;
}
#content button{
    padding: 15px 20px;
    border-radius: 50px;
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
    position: relative;
    padding: 20px 25px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 3%;
    margin-bottom: 3%;
}
#content button:hover{
    background-color: #565564;
}

#content_bottom{
    height: 400px;
    width: 100%;
    /* background-color: red; */
    padding: 3px;
    display: flex;
    gap: 30px;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
#content_bottom::-webkit-scrollbar{
    display: none;
}

.elem{
    flex-shrink: 0;
    height: 86%;
    width: 270px;
    border-radius: 30px;
    /* background-color: royalblue; */
    overflow: hidden;
    position: relative;
}

.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.elem video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.elem .text-bottom{
    height: 40%;
    width: 100%;
    /* background-color: black; */
    bottom: 0;
    padding-top: 2%;
    position: absolute;
    color: white;
}
.text-bottom .name{
    font-size: 15px;
    font-weight: 500;
    margin-top: 10%;
    margin-left: 5%;
}
.text-bottom .work{
    font-size: 15px;
    font-weight: 500;
    margin-left: 5%;
    margin-top: 2%;
}
.text-bottom .title{
    font-size: 15px;
    font-weight: 500;
    margin-left: 4%;
    margin-top: 6%;
    display: flex;
}
.text-bottom .title h5{
    /* background-color: red; */
    margin-right: 5%;
    font-weight: 500;
    padding: 5px 12px;
    border: 1px solid white; 
    border-radius: 40px;   
}


#page2{
    min-height: 160vh;
    width: 100%;
    background-color: #F8F7F4;
    position: relative;
} 

#page2 h1{
    font-size: 50px;
    text-align: center;
    font-weight: 400;
    padding-top: 6.5%;   
}

#page2 .box{
    height: 230px;
    width: 260px;;
    /* background-color: red; */
    display: inline-block;
    margin-left: 5.3%;
    margin-top: 3%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: all ease 0.5s;
}
.box:hover{
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.452);
    cursor: pointer;
}
#page2 .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page2 .box video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.box-bottom{
    height: 40%;
    width: 100%;
    background: linear-gradient(transparent,rgba(0, 0, 0, 0.575));
    position: absolute;
    bottom: -40%;
    transition: all ease 0.5s;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 18px;
    padding-top: 20px;
}

.box-bottom h4{
    font-size: 15px;
    font-weight: 400;
}
.box-bottom i{
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 50%;
}
.box:hover .box-bottom{
    bottom: 0;
    
}
.page2_button{
        padding: 15px 20px;
        border-radius: 50px;
        background-color: #F8F7F4;
        border: none;
        color: black;
        cursor: pointer;
        position: absolute;
        padding: 20px 25px;
        top: 105%;
        left: 45%;
        border: 1px solid black;
    }

.page2_button:hover{
       background-color: black;
       color: white;
    }
#page3{
    height: 80%;
    width: 100%;
    background-color: #FFDA79;
    margin-top: 20%;
}